/* features/weather/WeatherSearch.module.css */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.weatherSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}



.input {
  padding: 8px;
  width: 300px;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

.error {
  color: red;
  margin-top: 10px;
}
