/* components/CityCard.module.css */
.cityCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cityName {
  font-weight: bold;
  font-size: 18px;
}

.details {
  font-size: 14px;
  color: #666;
}
